coloredlogs==14.0
dataclasses;python_version<"3.7"
numpy>=1.18
pydantic==1.5
pyserini==0.10.1.0
scikit-learn>=0.22
scipy>=1.4
spacy==2.2.4
tensorboard>=2.1.0
tensorflow>=2.2.0rc1
tokenizers==0.9.4
tqdm==4.45.0
transformers==4.0.0
sentencepiece==0.1.94
torch==1.7.0
torchvision==0.8.1
